* {
	padding: 0;
	margin: 0;
}

#root {
	height: 100vh;
	width: 100vw;
	background: rgb(247, 150, 192);
	background: radial-gradient(circle, rgb(134, 217, 253) 0%, rgb(46, 174, 254) 100%);
	position: relative;
	overflow: hidden;
}

.gamePage {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
	background: #e0e5ec;
	opacity: 0.7;
}

.stopOrStartDiv {
	position: absolute;
	z-index: 999;
	display: none;
}

/* 飞机 */
.aircraft1 {
	width: 100px;
	height: 68px;
	position: absolute;
	z-index: 10;
	background-image: url('../static/image/aircraft/4号.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

/* 子弹盒子样式 */
.bulletsClass {
	width: 100px;
	height: 15px;
	position: absolute;

}

/* 子弹 */
.bullet {
	position: absolute;
	width: 5px;
	height: 15px;
	background-color: rgb(244, 47, 26);
	border-radius: 20px;
}

/* 敌机 */
#hostileBox {
	position: relative;

}

.hostile1 {
	width: 100px;
	height: 73px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('../static/image/aircraft/敌机.png') no-repeat;
	background-size: 100%;
}